/*{outline: 1px solid red;}*/



h1 {
color:white;
font-size: 100px;

}

.container-fluid.header {
  border-radius: 18px;
  opacity: 0.5;
}

.all{
    
    width:auto;
    height:654px;
    background-image: url("main2.jpg");
    background-size: cover;
    background-repeat:  no-repeat;    
}



.lead {
font-size: 24px;
}

p {
font-size: 26px;
}


.submit_weather {
font-size: 25px;
margin: 0px 90px 8px 0px;
background-color: #7D6608;
border-radius: 18px;
opacity: 0.7;
}

 .display-4 {
 width:450px;
 border-radius: 18px;
 margin: 0px 0px 0px -8px;
 }

/* #show { 
width:400px;
height: 500px;
}*/

.header {
background-image: linear-gradient(to right, #0E6655 , #45B39D);

}

.fade-in {
  text-align: left;
  color:white;
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

